
.txt-stroke{
  position: relative;
     
      font-size:17px;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke: .4px #5652cbc8;
}
body{
    position: relative;
    height:100vh;
    
  }
  *{
    font-family: "Poppins", sans-serif !important;
  }
.bloc-1{
    width: 70px;
    height: 200px;
    border-radius: 5px;
    box-shadow:  0 0 10px #a8a5a5;
    top: -200px;
}
.bloc-1-1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
}
.bloc-1-2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
}
.bloc-1-3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
}
:root {
    --main-color: #3498db; /* Define a global variable for the main color */
    --font-size: 16px;    /* Define a global variable for the font size */
    --linear-gradient: #82AAE3;
    --linear-gradient1: #439A97;
    --linear-gradient2: #557B83;
    
  }

  .mySwiper {
    width: 100%;
    height: 300px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card{
   
  }
  .aaaa {
    right: 10px !important;
    top: 10px !important;
    display: none;
  }
  
  .cc:hover .aaaa {
    display: block;
  }
  
  .bb {
    color: white;
    display: none;
    width: 100%;
    height: 100%;
  }
  
  .parag:hover .bb {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .parag:hover .txt{
    color: white;
    width: 100% !important;
    height: 100% !important;
  }
 
  .vvv{
   
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap')