.yy{
    position: relative !important;
    transition: .5s !important;
    z-index: 1 !important;
    
}
.yy::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(45deg , rgb(26, 26, 213) , #00abf0);
    transition: .5s; 
    width: 0;
    height: 100%;
    z-index: -1;
}
.yy:hover::before{
    width: 100% !important;
}
.yy:hover{
    
}
.ql-toolbar {
    background-color: #cfc8c8;  /* Couleur de fond de l'en-tête en mode sombre */
    color: #fff;            /* Couleur du texte en mode sombre */
  }